# General files
*~
*.core
*.obj
*.orig
*.rej
*_pch.h.cpp
*_resource.rc
.#*
*.*#
core
!core/
tags
.DS_Store
.directory
*.debug
*.app
Thumbs.db
*.res
*.rc

# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
*.qmlc
*.jsc
Makefile*
*build-*Debug/*
*build-*Release/*
*build-*Debug/debug/*
*build-*Release/release/*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database 
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

# Ignore DB Browser for SQLite Portable
Programs/SQLiteDatabaseBrowser/
Programs/SQLiteDatabaseBrowserPortable/

# Don't ignore what's inside the packages data folder
!Programs/installer/packages/com.groupe_R.CDAA_R/data/*

# Don't ignore files needed for UWP builds

!*build-*UWP*/debug/
!*build-*UWP*/release/
!*build-*UWP*/*/AppxManifest.xml
!*build-*UWP*/*/assets/
